In [19]:
import pandas as pd

conditions = ["confirmed", "deaths", "recovered"]


def make_country_df(condition, country):
    df = pd.read_csv("data/time_confirmed.csv")
    df = df.loc[df["Country/Region"] == "Afghanistan"]
    df = df.drop(columns=["Province/State", "Country/Region", "Lat", "Long"]).sum().reset_index(name=condition)
    df = df.rename(columns = {'index': "date"})
    return df

final_df = None

for condition in conditions:
    condition_df = make_country_df(condition, "Korea, South")
    if final_df is None:
        final_df = condition_df
    else:
        final_df = final_df.merge(condition_df)

final_df

        date  confirmed  deaths  recovered
0    1/22/20          0       0          0
1    1/23/20          0       0          0
2    1/24/20          0       0          0
3    1/25/20          0       0          0
4    1/26/20          0       0          0
..       ...        ...     ...        ...
413  3/10/21      55894   55894      55894
414  3/11/21      55917   55917      55917
415  3/12/21      55959   55959      55959
416  3/13/21      55959   55959      55959
417  3/14/21      55985   55985      55985

[418 rows x 4 columns]