In [20]:
def make_global_df(condition):
    df = pd.read_csv(f"data/time_{condition}.csv")
    df = (
        df.drop(["Province/State", "Country/Region", "Lat", "Long"], axis=1)
        .sum()
        .reset_index(name=condition)
    )
    df = df.rename(columns={"index": "date"})
    return df


daily_df = pd.read_csv("data/daily_report.csv")

# 전체 확진자, 사망자, 회복자 수
totals_df = daily_df[["Confirmed", "Deaths", "Recovered"]].sum().reset_index(name="count")
totals_df = totals_df.rename(columns={'index': "coundition"})


# 도시를 그룹화 한후 해당 도시의 확진자, 사망자, 회복자 수
countries__df = daily_df[["Country_Region", "Confirmed", "Deaths", "Recovered"]]
countries__df = daily_df.groupby("Country_Region").sum().reset_index()


# 총 확진자, 사망자, 완치자 수 
conditions = ["confirmed", "deaths", "recovered"]

final_df = None

for condition in conditions:
    condition_df = make_global_df(condition)
    if final_df is None:
        final_df = condition_df
    else:
        final_df = final_df.merge(condition_df)

        date  confirmed  deaths  recovered
0    1/22/20          0       0          0
1    1/23/20          0       0          0
2    1/24/20          0       0          0
3    1/25/20          0       0          0
4    1/26/20          0       0          0
..       ...        ...     ...        ...
413  3/10/21      55894   55894      55894
414  3/11/21      55917   55917      55917
415  3/12/21      55959   55959      55959
416  3/13/21      55959   55959      55959
417  3/14/21      55985   55985      55985

[418 rows x 4 columns]