In [7]:
import pandas as pd

df = pd.read_csv("data/time_confirmed.csv")


df = df.drop(["Province/State", "Country/Region", "Lat", "Long"], axis=1).sum().reset_index(name="total")
df = df.rename(columns={'index': "data"})
df

        data      total
0    1/22/20        557
1    1/23/20        655
2    1/24/20        941
3    1/25/20       1433
4    1/26/20       2118
..       ...        ...
413  3/10/21  118094648
414  3/11/21  118571474
415  3/12/21  119060483
416  3/13/21  119515052
417  3/14/21  119875203

[418 rows x 2 columns]